<h1>My tasks</h1>
<% @tasks.each do |task| %>
  <div class="task">
    <%= task.completed ? '☑':'□' %> <%= link_to task.title, task_path(task) %>
    <%= link_to task_path(task), method: :delete, data: { confirm: "Are you sure?" } do %>
       <i class="fas fa-trash-alt"></i>
    <% end %>
  </div>
<% end %>
<hr>
<%= link_to tasks_new_path do %>
  <i class="fas fa-plus"></i>   Add a new task
<% end %>
